# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
env/
venv/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Reports
*.pdf
assets/*.pdf

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/
*.cache

# Large data files (optional)
core/data/*.zip
core/data/*.parquet
core/data/*.xlsx

# VS Code
.vscode/
